[global_config]
  ask_before_closing = never
[keybindings]
  copy = <Primary>c
  paste = <Primary>v
[profiles]
  [[default]]
    allow_bold = False
    font = SFMono Nerd Font Semi-Bold 10.399
    foreground_color = "#ffffff"
    show_titlebar = False
    scrollbar_position = hidden
    palette = "#000000:#aa0000:#00aa00:#aa5500:#0000aa:#aa00aa:#00aaaa:#aaaaaa:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    use_custom_command = True
    custom_command = tmux
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
