[global_config]
  ask_before_closing = never
[keybindings]
  copy = <Primary>c
  paste = <Primary>v
[profiles]
  [[default]]
    allow_bold = False
    font = SFMono Nerd Font Semi-Bold 10.399
    show_titlebar = False
    scrollbar_position = hidden
    use_custom_command = True
    custom_command = tmux
    use_system_font = False
    background_color = "#1e2127"
    background_image = None
    cursor_color = "#676c76"
    foreground_color = "#5c6370"
    palette = "#000000:#e06c75:#98c379:#d19a66:#61afef:#c678dd:#56b6c2:#abb2bf:#5c6370:#e06c75:#98c379:#d19a66:#61afef:#c678dd:#56b6c2:#fffefe"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
