[global_config]
  ask_before_closing = never
[keybindings]
  copy = <Primary>c
  paste = <Primary>v
[profiles]
  [[default]]
    icon_bell = False
    allow_bold = False
    font = SFMono Nerd Font Semi-Bold 10.399
    show_titlebar = False
    scrollbar_position = hidden
    use_custom_command = True
    custom_command = tmux
    use_system_font = False
    background_color = "#242424"
    background_image = None
    cursor_color = "#97979b"
    foreground_color = "#eff0eb"
    palette = "#282a36:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"

[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
