# --------------------------------------------------------
# tmux configuration
# --------------------------------------------------------

# Fixes
# FROM: https://github.com/caarlos0/dotfiles.fish/blob/main/tmux/tmux.conf.symlink
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",*256col*:Tc"
setenv -g COLORTERM truecolor
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'  # undercurl support
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'
set -g history-limit 10000 # increase history to 10k
# Setup default pane number to "1"
set -g base-index 1
set -g pane-base-index 1
bind c new-window -c "#{pane_current_path}" # keep current pane_current_path

# MOUSE
set -g mouse on

# Bindings
bind R source-file ~/.tmux.conf \; display "Tmux-conf Reloaded!"

# Use terminator like bindings for split
bind e split-window -hc "#{pane_current_path}"
bind o split-window -vc "#{pane_current_path}"
