# --------------------------------------------------------
# tmux configuration
# --------------------------------------------------------

# Increase scrollback buffer size to 15k
set -g history-limit 15000

# Start window and pane numbering from 1
set -g base-index 1
setw -g pane-base-index 1

# Allow automatic renaming of windows
set -g allow-rename on

# Allow mouse controls
set -g mouse on

# Status theme
set-option -g status-style "fg=#D8DEE9 bg=#3B4252" # Nord theme

# Reload
bind r source-file ~/.tmux.conf\; display-message '~/.tmux.conf reloaded'
bind c new-window -c "#{pane_current_path}" # keep current pane_current_path

# Customized keybind
# take query and ssh
bind i command-prompt "neww 'ssh %%'"
# tpm
# https://github.com/tmux-plugins/tpm
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
run '~/.tmux/plugins/tpm/tpm'
